<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Information</title>
    <link rel="stylesheet" href="static/styles.css">

</head>
<body>
    <div class="container">
        <h1>Weather Information for Karachi</h1>
        <div class="weather-info">
            <p><strong>Temperature:</strong> {{ weather['main']['temp'] }} K </p>
            <p><strong>Feels Like:</strong> aaaa</p>
        </div>
        <div class="weather-info">
            <p><strong>Description:</strong> aaaa</p>
            <p><strong>Humidity:</strong> aaaa</p>
        </div>
        <div class="weather-info">
            <p><strong>Wind Speed:</strong> aaaa</p>
            <p><strong>Pressure:</strong> aaaa</p>
        </div>
        <div class="weather-info">
            <p><strong>lat:</strong> aaaa</p>
            <p><strong>lon:</strong> aaaa</p>
        </div>
    </div>
</body>
</html>
