body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://i.pinimg.com/564x/b1/8b/db/b18bdb35b906dfa76a4809f4964d05a8.jpg');
    background-size: cover; 
    background-position: center; 
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(70, 104, 175, 0.9);
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

h1 {
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
    font-size: 1.2em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); 
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); 
}

.button-get-weather {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; 
}

.button-get-weather:hover {
    background-color: #2980b9;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05); 
}

.weather-info {
    padding: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.weather-info p {
    margin: 5px 0;
    font-size: 1.1em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); 
}

.weather-info .icon {
    margin-right: 10px;
}
