body {
    background-image: url('rain.gif'); /* Path to your image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.weather-info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.weather-info p {
    margin: 5px 0;
}
