body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
    font-size: 1.2em;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #9b59b6;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #8e44ad;
}

/* .weather-info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
} */

.weather-info {
    padding: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.weather-info p {
    margin: 5px 0;
    font-size: 1.1em;
}
